<form action="/" method="POST">
    <div class="form-row align-items-center">
        <div class="col">
            <input type="text" class="form-control" name="jobnumber" placeholder="Job Number">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="jobaddress" placeholder="Job Address">
        </div>
        <div class="col">
            <input type="date" class="form-control" name="date_received" placeholder="Date Received">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="type_of_job" placeholder="Type of Job">
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>