<!doctype html>
<html lang="en">

<head>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- NAVBAR -->
    <% include partials/navbar.ejs %> 

    <!-- MAIN CONTENT -->
    <div class="container">
        <% include partials/form.ejs %>
        
        <% include partials/table.ejs %>
    </div>
    

    <!-- SCRIPTS -->
    <% include partials/scripts.ejs %>
</body>

</html>